/*
 * SPDX-FileCopyrightText: © 2023 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@use "_theme-colors" as theme;

html {
    @include mat.theme(
        (
            color: (
                theme-type: dark,
                primary: theme.$primary-palette,
                tertiary: theme.$tertiary-palette,
            ),
            typography: "Roboto Variable",
            density: 0,
        )
    );
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

:root {
    @include mat.sidenav-overrides(
        (
            container-background-color: var(--mat-sys-surface-container-low),
        )
    );
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-surface-container-high),
        )
    );
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Roboto Variable", "Helvetica Neue", sans-serif;
}

// Sourced verbatim from
// https://developers.google.com/fonts/docs/material_icons#setup_method_2_self_hosting (which is
// repeated at https://fontsource.org/docs/getting-started/material-icons)
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}
